﻿@{
    Layout = null;
}

// importing packages.
@using Soln_RazorRoundedSquare.Dal@
@using Soln_RazorRoundedSquare.Entity@


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rounded Square Task</title>
    <style type="text/css">
        .classSquare
         {
            border-radius: 25px;
            border: 2px solid #73AD21;
            padding: 20px;
            width: 200px;
            height: 150px;
            background-color:green;
        }
        
        table {
            width: 50%;
            margin: auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px;
            border-style: solid;
            border-color: gray;
            text-align: center;
            padding: 20px;
            margin: 10px;
        }

        tr:nth-child(even)
         {
            background-color: gray;
         }
    </style>
</head>
<body>
    <div class="classSquare" >
        
         @*yo first 
        <div>*@
            @{

                @*var getProductData = new ProductDal().GetProductData();

                <table border="1">
                    <tr>
                        <td>ProductId</td>
                        <td> ProductName</td>
                        <td> ProductNumber</td>
                        <td>ProductPrice</td>
                        <td> ProductColor</td>
                    </tr>

                    @{
                        foreach(var Obj in getProductData)
                        {
                            <tr>
                                <td>
                                    <span>@Obj.ProductId</span>
                                </td>

                                <td>
                                    <span>@Obj.ProductName</span>
                                </td>

                                <td>
                                    <span>@Obj.ProductNumber</span>
                                </td>
                                <td>
                                    <span>@Obj.ProductPrice</span>
                                </td>
                                <td>
                                    <span>@Obj.ProductColor</span>
                                </td>
                            </tr>
                        }
                    }
                </table>
            }*@
           
            @{ 
                var getCurrentDateTime = DateTime.Now.ToString();

                <span>@getCurrentDateTime</span>
            }
        </div>
    @*</div>*@
</body>
</html>
